.connection-div {
    transform: translateY(0%);
    animation: play 1s linear;
}

@keyframes play {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}