<div class="card flex justify-center cursor-pointer bg-base-300 w-60 shadow-xl">
    <div class="card-body">
        <p class='leading-relaxed mb-3 w-10 h-3 animate-pulse bg-blue-200'></p>
        <p class='leading-relaxed mb-3 w-2/7 h-5 animate-pulse bg-gray-200'></p>
        <p class='leading-relaxed mb-3 w-10 h-3 animate-pulse bg-blue-200'></p>
        <p class='leading-relaxed mb-3 w-2/7 h-5 animate-pulse bg-gray-200'></p>
        <p class='leading-relaxed mb-3 w-10 h-3 animate-pulse bg-blue-200'></p>
        <p class='leading-relaxed mb-3 w-2/7 h-5 animate-pulse bg-gray-200'></p>
        <p class='leading-relaxed mb-3 w-10 h-3 animate-pulse bg-blue-200'></p>
        <p class='leading-relaxed mb-3 w-2/7 h-5 animate-pulse bg-gray-200'></p>
        <p class='leading-relaxed mb-3 w-10 h-3 animate-pulse bg-blue-200'></p>
        <p class='leading-relaxed mb-3 w-2/7 h-5 animate-pulse bg-gray-200'></p>
    </div>
    <div class="flex justify-center">
        <p class='leading-relaxed mb-3 w-2/4 h-10 animate-pulse bg-gray-200'></p>
    </div>
</div>